@import "~nord/src/sass/nord.scss";

$font-family-sans-serif: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$text-color: #333333;

$brand-primary: #175ddc;

$background-color: #f0f0f0;

$solarizedDarkBase02: #073642;
$solarizedDarkBase03: #002b36;
$solarizedDarkBase2: #eee8d5;
$solarizedDarkCyan: #2aa198;
$solarizedDarkGreen: #859900;

$themes: (
  light: (
    textColor: $text-color,
    backgroundColor: $background-color,
    primaryColor: $brand-primary,
    buttonPrimaryColor: $brand-primary,
    textContrast: $background-color,
    closeButtonColor: $text-color,
  ),
  dark: (
    textColor: #ffffff,
    backgroundColor: #2f343d,
    buttonPrimaryColor: #6f9df1,
    primaryColor: #6f9df1,
    textContrast: #2f343d,
    closeButtonColor: currentColor,
  ),
  nord: (
    textColor: $nord5,
    backgroundColor: $nord1,
    buttonPrimaryColor: $nord8,
    primaryColor: $nord9,
    textContrast: $nord2,
    closeButtonColor: currentColor,
  ),
  solarizedDark: (
    textColor: $solarizedDarkBase2,
    backgroundColor: $solarizedDarkBase03,
    buttonPrimaryColor: $solarizedDarkCyan,
    primaryColor: $solarizedDarkGreen,
    textContrast: $solarizedDarkBase02,
    closeButtonColor: currentColor,
  ),
);

@mixin themify($themes: $themes) {
  @each $theme, $map in $themes {
    html.theme_#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), "#{$key}");
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}
