<bit-dialog dialogSize="large" [contentPadding]="false">
  <span bitDialogTitle>
    {{ title }}
    <span *ngIf="editMode" class="tw-text-sm tw-normal-case tw-text-muted">{{ groupForm.value.name }}</span>
  </span>
  <div bitDialogContent>
    <form [formGroup]="groupForm">
    <bit-tab-group *ngIf="!loading" [preserveContent]="true" [selectedIndex]="tabIndex">
      <bit-tab label="{{ 'groupInfo' | i18n }}">
        <bit-form-field>
          <bit-label>{{ "name" | i18n }}</bit-label>
          <input bitInput type="text" formControlName="name" required />
        </bit-form-field>
        <bit-form-field>
          <bit-label>{{ "externalId" | i18n }}</bit-label>
          <input bitInput type="text" formControlName="externalId" />
          <bit-hint>{{ "externalIdDesc" | i18n }}</bit-hint>
        </bit-form-field>
      </bit-tab>

      <bit-tab label="{{ 'members' | i18n }}">
        <p>{{ "editGroupMembersDesc" | i18n }}</p>
        <bit-form-field>
          <bit-label>{{ "selectMembers" | i18n }}</bit-label>
          <select bitInput (change)="addMember($event)">
            <option disabled selected value="">-- Type to filter --</option>
            <option *ngFor="let m of memberList.deselectedOptions" [value]="m.id">
              <span *ngIf="m.member.name">{{ m.member.name }} ({{ m.member.email }})</span>
              <span *ngIf="!m.member.name">{{ m.member.email }}</span>
            </option>
          </select>
        </bit-form-field>

        <bit-table>
          <ng-container header>
            <tr>
              <th bitCell>{{ "member" | i18n }}</th>
              <th bitCell>{{ "role" | i18n }}</th>
              <th bitCell style="width: 50px"></th>
            </tr>
          </ng-container>
          <ng-container body>
            <tr bitRow *ngFor="let m of memberList.selectedOptions; let i = index">
              <td bitCell>
                <div class="tw-flex tw-items-center">
                  <bit-avatar class="tw-mr-3" text="{{ m.member.name || m.member.email }}"></bit-avatar>
                  <div class="tw-flex tw-flex-col">
                    <div>
                      {{ m.member.name || m.member.email }}
                      <span *ngIf="m.member.status == 0" bitBadge badgeType="secondary">Invited</span>
                    </div>
                    <div class="tw-text-muted" *ngIf="m.member.name">{{ m.member.email }}</div>
                  </div>
                </div>
              </td>
              <td bitCell>{{ m.member.type }}</td>
              <td bitCell>
                <button
                  type="button"
                  bitIconButton="bwi-close"
                  buttonType="muted"
                  appA11yTitle="{{ 'removeMember' | i18n }}"
                  (click)="memberList.deselectItem(m.id)"
                ></button>
              </td>
            </tr>
          </ng-container>
        </bit-table>
      </bit-tab>

      <bit-tab label="{{ 'collections' | i18n }}">
        <p>Edit Collections TODO</p>
        <div class="tw-flex">
          <bit-form-field>
            <bit-label>{{ "permission" | i18n }}</bit-label>
            <select bitInput [(ngModel)]="initialPermission" [ngModelOptions]="{standalone: true}">
              <option [value]="permissions.VIEW_EXCEPT_PASSWORDS">Can view, except passwords</option>
              <option [value]="permissions.VIEW">Can view</option>
              <option [value]="permissions.EDIT_EXCEPT_PASSWORDS">Can edit, except passwords</option>
              <option [value]="permissions.EDIT">Can edit</option>
            </select>
          </bit-form-field>

          <bit-form-field class="tw-ml-3 tw-flex-grow">
            <bit-label>Select collections</bit-label>
            <select bitInput (change)="addCollection($event)">
              <option disabled selected value="">-- Type to filter --</option>
              <option *ngFor="let m of collectionList.deselectedOptions" [value]="m.id">
                {{ m.collection.name }}
              </option>
            </select>
          </bit-form-field>
        </div>

        <bit-table>
          <ng-container header>
            <tr>
              <th bitCell>{{ "collection" | i18n }}</th>
              <th bitCell>{{ "permission" | i18n }}</th>
              <th bitCell style="width: 50px"></th>
            </tr>
          </ng-container>
          <ng-container body>
            <tr bitRow *ngFor="let m of collectionList.selectedOptions; let i = index">

              <td bitCell>
                <div class="tw-flex tw-items-center tw-text-lg">
                  <i class="bwi bwi-collection tw-mr-2" aria-hidden="true"></i>
                  <span>{{ m.collection.name }}</span>
                </div>
              </td>
              <td bitCell>
                <select bitInput class="tw-border-0 !tw-bg-transparent tw-font-bold tw-w-72" [(ngModel)]="m.permission" [ngModelOptions]="{standalone: true}">
                  <option [value]="permissions.VIEW_EXCEPT_PASSWORDS">Can view, except passwords</option>
                  <option [value]="permissions.VIEW">Can view</option>
                  <option [value]="permissions.EDIT_EXCEPT_PASSWORDS">Can edit, except passwords</option>
                  <option [value]="permissions.EDIT">Can edit</option>
                </select>
              </td>
              <td bitCell>
                <button
                  type="button"
                  bitIconButton="bwi-close"
                  buttonType="muted"
                  appA11yTitle="{{ 'removeMember' | i18n }}"
                  (click)="collectionList.deselectItem(m.id)"
                ></button>
              </td>
            </tr>
          </ng-container>
        </bit-table>
      </bit-tab>
    </bit-tab-group>
    </form>
  </div>
  <div bitDialogFooter class="tw-flex tw-flex-row tw-gap-2">
    <button bitButton buttonType="primary" (click)="logForm()">Save</button>
    <button bitButton buttonType="secondary" bitDialogClose>Cancel</button>
  </div>
</bit-dialog>

<!--<div class="modal fade" role="dialog" aria-modal="true" aria-labelledby="groupAddEditTitle">-->
<!--  <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">-->
<!--    <form-->
<!--      class="modal-content"-->
<!--      #form-->
<!--      (ngSubmit)="submit()"-->
<!--      [appApiAction]="formPromise"-->
<!--      ngNativeValidate-->
<!--    >-->
<!--      <div class="modal-header">-->
<!--        <h1 class="modal-title" id="groupAddEditTitle">-->
<!--          {{ title }}-->
<!--          <span *ngIf="editMode" class="tw-text-sm tw-normal-case tw-text-muted">{{ name }}</span>-->
<!--        </h1>-->
<!--        <button-->
<!--          type="button"-->
<!--          class="close"-->
<!--          data-dismiss="modal"-->
<!--          appA11yTitle="{{ 'close' | i18n }}"-->
<!--        >-->
<!--          <span aria-hidden="true">&times;</span>-->
<!--        </button>-->
<!--      </div>-->

<!--      <div class="modal-body" *ngIf="loading">-->
<!--        <i-->
<!--          class="bwi bwi-spinner bwi-spin text-muted"-->
<!--          title="{{ 'loading' | i18n }}"-->
<!--          aria-hidden="true"-->
<!--        ></i>-->
<!--        <span class="sr-only">{{ "loading" | i18n }}</span>-->
<!--      </div>-->

<!--      <bit-tab-group *ngIf="!loading" [preserveContent]="true" [selectedIndex]="1">-->
<!--        <bit-tab label="{{ 'groupInfo' | i18n }}">-->
<!--          <bit-form-field>-->
<!--            <bit-label>{{ "name" | i18n }}</bit-label>-->
<!--            <input bitInput type="text" [(ngModel)]="name" name="Name" id="name" required />-->
<!--          </bit-form-field>-->
<!--          <bit-form-field>-->
<!--            <bit-label>{{ "externalId" | i18n }}</bit-label>-->
<!--            <input-->
<!--              bitInput-->
<!--              type="text"-->
<!--              [(ngModel)]="externalId"-->
<!--              name="ExternalId"-->
<!--              id="externalId"-->
<!--            />-->
<!--            <bit-hint>{{ "externalIdDesc" | i18n }}</bit-hint>-->
<!--          </bit-form-field>-->
<!--        </bit-tab>-->

<!--        <bit-tab label="{{ 'members' | i18n }}">-->
<!--          <p>{{ "editGroupMembersDesc" | i18n }}</p>-->
<!--          <bit-form-field>-->
<!--            <bit-label>{{ "selectMembers" | i18n }}</bit-label>-->
<!--            <select bitInput>-->
<!--              <option disabled selected>&#45;&#45; Type to filter &#45;&#45;</option>-->
<!--              <option>First</option>-->
<!--              <option>Second</option>-->
<!--              <option>Third</option>-->
<!--            </select>-->
<!--          </bit-form-field>-->

<!--          <bit-table>-->
<!--            <ng-container header>-->
<!--              <tr>-->
<!--                <th bitCell>{{ 'member' | i18n }}</th>-->
<!--                <th bitCell>{{ 'role' | i18n }}</th>-->
<!--                <th bitCell style="width: 50px;"> </th>-->
<!--              </tr>-->
<!--            </ng-container>-->
<!--            <ng-container body>-->
<!--              <tr bitRow *ngFor="let x of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 23, 2, 2,2 ,2 ,2,]">-->
<!--                <td bitCell>-->
<!--                  <div class="tw-flex tw-items-center">-->
<!--                    <bit-avatar class="tw-mr-3" text="Shane Melton"></bit-avatar>-->
<!--                    <div class="tw-flex tw-flex-col">-->
<!--                      <div>-->
<!--                        Shane Melton-->
<!--                        <span bitBadge badgeType="secondary">Invited</span>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </td>-->
<!--                <td bitCell>Admin</td>-->
<!--                <td bitCell>-->
<!--                  <button-->
<!--                    type="button"-->
<!--                    bitIconButton="bwi-close"-->
<!--                    buttonType="muted"-->
<!--                    appA11yTitle="{{ 'removeMember' | i18n }}"-->
<!--                  ></button>-->
<!--                </td>-->
<!--              </tr>-->
<!--              <tr bitRow>-->
<!--                <td bitCell>-->
<!--                  <div class="tw-flex tw-items-center">-->
<!--                    <bit-avatar class="tw-mr-2" text="John Doe"></bit-avatar>-->
<!--                    <div class="tw-flex tw-flex-col">-->
<!--                      <div>John Doe</div>-->
<!--                      <div class="tw-text-muted">johndoe@email.com</div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </td>-->
<!--                <td bitCell>Admin</td>-->
<!--                <td bitCell>-->
<!--                  <button-->
<!--                    type="button"-->
<!--                    bitIconButton="bwi-close"-->
<!--                    buttonType="muted"-->
<!--                    appA11yTitle="{{ 'removeMember' | i18n }}"-->
<!--                  ></button>-->
<!--                </td>-->
<!--              </tr>-->
<!--            </ng-container>-->
<!--          </bit-table>-->

<!--        </bit-tab>-->

<!--        <bit-tab label="{{ 'collections' | i18n }}"> </bit-tab>-->
<!--      </bit-tab-group>-->

<!--      <div class="modal-footer">-->
<!--        <button type="submit" bitButton buttonType="primary" [disabled]="form.loading">-->
<!--          <i-->
<!--            class="bwi bwi-spinner bwi-spin"-->
<!--            title="{{ 'loading' | i18n }}"-->
<!--            aria-hidden="true"-->
<!--            [hidden]="!form.loading"-->
<!--          ></i>-->
<!--          <span>{{ "save" | i18n }}</span>-->
<!--        </button>-->
<!--        <button type="button" bitButton buttonType="secondary" data-dismiss="modal">-->
<!--          {{ "cancel" | i18n }}-->
<!--        </button>-->
<!--        <div class="ml-auto">-->
<!--          <button-->
<!--            #deleteBtn-->
<!--            type="button"-->
<!--            (click)="delete()"-->
<!--            bitButton-->
<!--            class="tw-px-0"-->
<!--            buttonType="danger"-->
<!--            appA11yTitle="{{ 'delete' | i18n }}"-->
<!--            *ngIf="editMode"-->
<!--            [disabled]="deleteBtn.loading"-->
<!--            [appApiAction]="deletePromise"-->
<!--          >-->
<!--            <i-->
<!--              class="bwi bwi-trash bwi-lg bwi-fw tw-mx-1"-->
<!--              [hidden]="deleteBtn.loading"-->
<!--              aria-hidden="true"-->
<!--            ></i>-->
<!--            <i-->
<!--              class="bwi bwi-spinner bwi-spin bwi-lg bwi-fw"-->
<!--              [hidden]="!deleteBtn.loading"-->
<!--              aria-hidden="true"-->
<!--              title="{{ 'loading' | i18n }}"-->
<!--            ></i>-->
<!--          </button>-->
<!--        </div>-->
<!--      </div>-->
<!--    </form>-->
<!--  </div>-->
<!--</div>-->
