<form #form [formGroup]="groupForm" (ngSubmit)="submit()" [appApiAction]="formPromise">
  <bit-dialog dialogSize="large" [disablePadding]="!loading">
    <span bitDialogTitle>
      {{ title }}
      <span *ngIf="editMode" class="tw-text-sm tw-normal-case tw-text-muted">{{
        group?.name
      }}</span>
    </span>
    <div bitDialogContent>
      <div *ngIf="loading">
        <i
          class="bwi bwi-spinner bwi-spin text-muted"
          title="{{ 'loading' | i18n }}"
          aria-hidden="true"
        ></i>
        <span class="sr-only">{{ "loading" | i18n }}</span>
      </div>

      <bit-tab-group *ngIf="!loading" [preserveContent]="true" [selectedIndex]="tabIndex">
        <bit-tab label="{{ 'groupInfo' | i18n }}">
          <bit-form-field>
            <bit-label>{{ "name" | i18n }}</bit-label>
            <input bitInput type="text" formControlName="name" required />
          </bit-form-field>
          <bit-form-field>
            <bit-label>{{ "externalId" | i18n }}</bit-label>
            <input bitInput type="text" formControlName="externalId" />
            <bit-hint>{{ "externalIdDesc" | i18n }}</bit-hint>
          </bit-form-field>
        </bit-tab>

        <bit-tab label="{{ 'members' | i18n }}">
          <p>{{ "editGroupMembersDesc" | i18n }}</p>
          <bit-form-field>
            <bit-label>{{ "selectMembers" | i18n }}</bit-label>
            <!--TODO: Swap with CL NgSelect-->
            <select bitInput (change)="addMember($event)">
              <option disabled selected value="">-- Type to filter not implemented yet --</option>
              <option *ngFor="let m of memberList.deselectedItems" [value]="m.id">
                <span *ngIf="m.name">{{ m.name }} ({{ m.email }})</span>
                <span *ngIf="!m.name">{{ m.email }}</span>
              </option>
            </select>
          </bit-form-field>

          <bit-table>
            <ng-container header>
              <tr>
                <th bitCell>{{ "member" | i18n }}</th>
                <th bitCell>{{ "role" | i18n }}</th>
                <th bitCell style="width: 50px"></th>
              </tr>
            </ng-container>
            <ng-container body>
              <tr bitRow *ngFor="let m of memberList.selectedItems; let i = index">
                <td bitCell>
                  <div class="tw-flex tw-items-center">
                    <bit-avatar class="tw-mr-3" text="{{ m.name || m.email }}"></bit-avatar>
                    <div class="tw-flex tw-flex-col">
                      <div>
                        {{ m.name || m.email }}
                        <span *ngIf="m.status == 0" bitBadge badgeType="secondary">
                          {{ "invited" | i18n }}
                        </span>
                      </div>
                      <div class="tw-text-muted" *ngIf="m.name">{{ m.email }}</div>
                    </div>
                  </div>
                </td>
                <td bitCell>{{ m.type | userType }}</td>
                <td bitCell>
                  <button
                    type="button"
                    bitIconButton="bwi-close"
                    buttonType="muted"
                    appA11yTitle="{{ 'removeMember' | i18n }}"
                    (click)="memberList.deselectItem(m.id)"
                  ></button>
                </td>
              </tr>
              <tr *ngIf="memberList.selectedItems.length == 0">
                <td bitCell>{{ "noMembersAdded" | i18n }}</td>
              </tr>
            </ng-container>
          </bit-table>
        </bit-tab>

        <bit-tab label="{{ 'collections' | i18n }}">
          <p>{{ "editGroupCollectionsDesc" | i18n }}</p>
          <div class="tw-my-3">
            <input type="checkbox" formControlName="accessAll" id="accessAll" />
            <label class="tw-mb-0 tw-text-lg" for="accessAll">{{
              "accessAllCollectionsDesc" | i18n
            }}</label>
            <p class="tw-my-0 tw-text-muted">{{ "accessAllCollectionsHelp" | i18n }}</p>
          </div>
          <ng-container *ngIf="!groupForm.value.accessAll">
            <div class="tw-mt-8 tw-flex">
              <bit-form-field>
                <bit-label>{{ "permission" | i18n }}</bit-label>
                <select
                  bitInput
                  [(ngModel)]="initialPermission"
                  [ngModelOptions]="{ standalone: true }"
                >
                  <option *ngFor="let p of permissionList" [value]="p.perm">
                    {{ p.labelId | i18n }}
                  </option>
                </select>
              </bit-form-field>

              <bit-form-field class="tw-ml-3 tw-flex-grow">
                <bit-label>{{ "selectCollections" | i18n }}</bit-label>
                <!--TODO: Swap with CL NgSelect-->
                <select bitInput (change)="addCollection($event)">
                  <option disabled selected value="">
                    -- Type to filter not implemented yet --
                  </option>
                  <option *ngFor="let m of collectionList.deselectedItems" [value]="m.id">
                    {{ m.name }}
                  </option>
                </select>
              </bit-form-field>
            </div>

            <bit-table formArrayName="collections">
              <ng-container header>
                <tr>
                  <th bitCell>{{ "collection" | i18n }}</th>
                  <th bitCell>{{ "permission" | i18n }}</th>
                  <th bitCell style="width: 50px"></th>
                </tr>
              </ng-container>
              <ng-container body>
                <tr
                  bitRow
                  *ngFor="let m of collectionList.selectedItems; let i = index"
                  [formGroupName]="i"
                >
                  <td bitCell>
                    <div class="tw-flex tw-items-center tw-text-lg">
                      <i class="bwi bwi-collection tw-mr-2" aria-hidden="true"></i>
                      <span>{{ m.name }}</span>
                    </div>
                  </td>
                  <td bitCell>
                    <label class="sr-only" [for]="'permission' + i">{{
                      "permission" | i18n
                    }}</label>
                    <select
                      bitInput
                      class="tw-w-72 tw-border-0 !tw-bg-transparent tw-font-bold"
                      formControlName="permission"
                      [id]="'permission' + i"
                    >
                      <option *ngFor="let p of permissionList" [value]="p.perm">
                        {{ p.labelId | i18n }}
                      </option>
                    </select>
                  </td>
                  <td bitCell>
                    <button
                      type="button"
                      bitIconButton="bwi-close"
                      buttonType="muted"
                      appA11yTitle="{{ 'removeCollection' | i18n }}"
                      (click)="collectionList.deselectItem(m.id)"
                    ></button>
                  </td>
                </tr>
                <tr *ngIf="collectionList.selectedItems.length == 0">
                  <td bitCell>{{ "noCollectionsAdded" | i18n }}</td>
                </tr>
              </ng-container>
            </bit-table>
          </ng-container>
        </bit-tab>
      </bit-tab-group>
    </div>
    <div bitDialogFooter class="tw-flex tw-flex-row tw-gap-2">
      <button bitButton buttonType="primary" type="submit" [loading]="form.loading">
        {{ "save" | i18n }}
      </button>
      <button bitButton buttonType="secondary" type="button" bitDialogClose>
        {{ "cancel" | i18n }}
      </button>
      <button
        #deleteBtn
        bitButton
        buttonType="danger"
        type="button"
        (click)="delete()"
        class="tw-ml-auto tw-px-0"
        appA11yTitle="{{ 'delete' | i18n }}"
        *ngIf="editMode"
        [disabled]="deleteBtn.loading"
        [appApiAction]="deletePromise"
      >
        <i
          class="bwi bwi-trash bwi-lg bwi-fw tw-mx-1"
          [hidden]="deleteBtn.loading"
          aria-hidden="true"
        ></i>
        <i
          class="bwi bwi-spinner bwi-spin bwi-lg bwi-fw"
          [hidden]="!deleteBtn.loading"
          aria-hidden="true"
          title="{{ 'loading' | i18n }}"
        ></i>
      </button>
    </div>
  </bit-dialog>
</form>
